@tailwind base;
@tailwind components;
@tailwind utilities;




*, *::before, *::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'centurygothic';
  src: url(../fonts/centurygothic.ttf) format('truetype');
}

@font-face {
  font-family: 'centurygothic_bold';
  src: url(../fonts/centurygothic_bold.ttf) format('truetype');
}


/* Base HTML reset */
html {
  background-color: light-dark(var(--color-white), var(--color-dark));
  color: light-dark(var(--color-dark), var(--color-white));
}

/* === Colors === */
:root {
  color-scheme: light dark;
  --color-primary: #5246FF;
  --color-primary-hover: #4036CC;
  --color-primary-active: #3027AA;
  --color-primary-light: #746CFF;
  --color-primary-verylight: #A6A1FF;
  --color-dark: #2E2E36;
  --color-gray: #72787c;
  --color-gray-dark: #505559;
  --color-white: #F5F5F7;
  --color-divider: #B5B5CC;
  --color-ok: #34D399;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
  --color-info: #3B82F6;

  --font-display: SpaceGrotesk, sans-serif;
  --font-body: centurygothic, sans-serif;
  --font-body-bold: centurygothic_bold, sans-serif;
}


/* === Typography === */
.text-display-xl { font: 700 72px/84px var(--font-display); }
.text-display-l  { font: 500 56px/64px var(--font-display); }
.text-display-m  { font: 400 48px/56px var(--font-display); }

.text-heading-xl { font: 600 36px/44px var(--font-body); }
.text-heading-l  { font: 500 28px/36px var(--font-body); }
.text-heading-m  { font: 500 24px/32px var(--font-body); }
.text-heading-s  { font: 500 20px/28px var(--font-body); }

.text-body-l { font: 400 18px/28px var(--font-body); }
.text-body-m { font: 400 16px/24px var(--font-body); }
.text-body-s { font: 400 14px/20px var(--font-body); }
.text-caption { font: 500 12px/16px var(--font-body); }
.text-micro   { font: 500 10px/14px var(--font-body); }





/* === Background Helpers === */
.bg-dark     { background-color: var(--color-dark); }
.bg-white    { background-color: var(--color-white); }
.bg-primary  { background-color: var(--color-primary); }
.bg-divider  { background-color: var(--color-divider); }
.bg-ok       { background-color: var(--color-ok); }
.bg-warning  { background-color: var(--color-warning); }
.bg-error    { background-color: var(--color-error); }
.bg-info     { background-color: var(--color-info); }


/* === Text Helpers === */
.text-primary { color: var(--color-primary); }
.text-ok      { color: var(--color-ok); }
.text-error   { color: var(--color-error); }
.text-info    { color: var(--color-info); }



.dropdown-box {
    display: inline-block;
    width: max-content;   /* grow with content */
    min-width: 200px;
    max-width: 90vw;      /* stay inside viewport */
    box-sizing: border-box;
}


