.sidebar {
    position: fixed;      /* lock to left */
    top: 0;
    left: 0;
    height: 100vh;        /* full screen height */
    width: 80px;          /* narrow bar */
    background: light-dark(#e5e8eb, #191919);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 0;
    z-index: 1000;        /* sit above page */
}

.top, .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    color: light-dark(#4a535f, white);
    cursor: pointer;
    position: relative;
    transition: color 0.2s;
    padding: 8px 0;
    text-decoration: none;
}


.icon {
    font-size: 2rem;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;   /* fixed square */
    height: 40px;  /* fixed square */
    border-radius: 8px; /* rounded square look */
}

.active .icon, .icon:hover {
    background: light-dark(rgba(198, 203, 207, 1), rgba(89, 89, 89, 1)); /* highlight only icon */

}

.label {
    font-size: 0.9rem;
}

.badge {
    position: absolute;
    top: -4px;
    right: -6px;
    background: #e53935;
    color: #fff;
    border-radius: 8px;
    padding: 1px 4px;
    font-size: 10px;
    font-weight: bold;
}
.loaderOverlay {
    position: fixed;
    inset: 0; /* full screen */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 0.5); /* dim background */
    z-index: 2000; /* above sidebar */
}